* {
    background-color: silver;
}
canvas {
    border: 1px solid #000000;
}

img {
    width: 200px;
    height: auto;
}

a {
    display: block;
    text-align: center;
    width: 15%;
    font-size: 24px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    background-color: orange;
}

#clock {
    background-color: green;
}